<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieAPI</title>
</head>
<body>
    <h1>Welcome to the MovieAPI!</h1>
    <form action="/" method="POST">
        <input type="text" placeholder="UserId" name="userId"/> <br>
        <input type="radio" value="ra" name="radio" checked/>
        <label for="ra">Predicted Ratings</label>
        <input type="radio" value="re" name="radio" />
        <label for="re">Predicted Movies</label> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>